/*#cssreset*/
html,body{height: 100%;/*overflow: hidden;*/}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*###清除浮动*/
  .clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

/*/公共样式*!*/
.common-title{
    color:#009ee0;
    font-size:80px;
    line-height:0.8;
    font-weight:bold;
    letter-spacing:-5px;
}

#wrap{
  position: relative;
  height:100%;
  /*background: palegreen;*/
}
#header{
  position: relative;
  width:100%;
  height: 80px;
  background: plum;
  z-index: 10;
}
.headerMain{
  width:1100px;
  height: 80px;
  background: yellow;
  margin:0 auto;
  /*position: relative;*/
}
.logo{
  margin-top:15px;
  float: left;
}
.music{
  float: left;
}
.audio{
    float: left;
}
.nav{
  float: right;
  margin-top:50px;
}
.nav a{
  cursor: pointer;
}
.nav li{
  position: relative;
  float: left;
  margin-left:40px;
}
.nav li:nth-child(1){
    width: 18px;
}
.nav li .up{
    float: left;
  position: absolute;
  left:0;
  top:0;
  width:0;
  overflow: hidden;
  transition: width 1s;
}
.nav li .down{
  color:#009EE0;
}
.nav li:hover .up{
  width:100%;
}
.arrow{
  position: absolute;
  bottom:-11px;
  left:50%;
  z-index: 10;
  width:21px;
  height: 11px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  transition:  left 1s;
}
.content{
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  top: 80px;
  /*overflow: hidden;*/

}
.content .content-main{
    position: absolute;
    height: 500%;
    width:100%;
    left:0;
    top: 0;
    transition: top 1s;
}
.content-main>li{
    position: relative;
    height: 20%;
    background-repeat: no-repeat;
}
.content-main>li section{
    width:1100px;
    height: 520px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-260px;
    margin-left:-550px;
}
.content-main>li:nth-child(1){
    background-image: url("../img/bg1.jpg");
}
.content-main>li:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
.content-main>li:nth-child(3){
    background-image: url("../img/bg3.jpg");
}
.content-main>li:nth-child(4){
    background-image: url("../img/bg4.jpg");
}
.content-main>li:nth-child(5){
    background-image: url("../img/bg5.jpg");
}
.home-carousel{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.home-carousel li{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 520px;
    visibility: hidden;
}
.home-carousel .active{
    visibility: visible;
}
.home-carousel li:nth-child(1){
    background: #dc6c5f;
}
.home-carousel li:nth-child(2){
    background:#95dc84;
}
.home-carousel li:nth-child(3){
    background:#64b9d2;
}
.home-carousel li:nth-child(4){
    background:#000000;
}
.home-point{
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
.home-point li{
    float: left;
    width:20px;
    height: 20px;
    background: rgba(255,255,255,0.5);
    margin:2px;
    box-shadow:0 0 4px rgba(25,25,25,0.8);
    border-radius: 50%;
    cursor: pointer;
}
.home-point .active{
    background: white;
}
.home-carousel .left-hide{
    visibility: hidden;
    animation: leftHide 2s linear;

}
.home-carousel .right-show{
    visibility: visible;
    animation: rightShow 2s linear;
}
.home-carousel .left-hide{
    visibility: hidden;
    animation: leftHide 2s linear;

}
.home-carousel .right-show{
    visibility: visible;
    animation: rightShow 2s linear;
}

@keyframes leftHide{
    0% {
        visibility: visible
    }
    50% {
        transform: translateX(-40%) rotateY(30deg) scale(0.8)
    }
    100% {
        transform: translateZ(-200px);
        visibility: hidden
    }

}
@keyframes rightShow{
    0% {
        visibility: hidden; transform: translateZ(-200px)
    }
    50% {
        transform: translateX(40%) rotateY(-30deg) scale(0.8)
    }
    100% {
        visibility: visible;
    }

}
@keyframes rightShow{
    0% {
        visibility: hidden; transform: translateZ(-200px)
    }
    50% {
        transform: translateX(-40%) rotateY(30deg) scale(0.8)
    }
    100% {
        visibility: visible;
    }

}

@keyframes leftHide{
    0% {
        visibility: visible
    }
    50% {
        transform: translateX(40%) rotateY(-30deg) scale(0.8)
    }
    100% {
        transform: translateZ(-200px);
        visibility: hidden
    }

}